body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-color: rgb(159, 235, 191);
}

/* Estilos para el encabezado */
header {
  background-color: rgb(58, 209, 121);
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-menu {
  display: flex;
  align-items: center;
  flex: 1;
}

nav {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row-reverse;
}

.logo-menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
}

nav ul li {
  position: relative;
}

nav ul li a {
  display: block;
  padding: 10px 20px;
  background-color: rgb(9, 184, 82);
  color: white;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  transition: background-color 0.3s;
}

nav ul li a:hover {
  background-color: #63b4ee;
}
.logo-menu {
  display: flex;
  align-items: center;
  flex: 1;
}

.logo img {
  height: 100px;
}
nav {
  order: 2;
  flex: 1;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}
nav ul li {
  margin-right: 20px;
}
nav ul li:last-child {
  margin-right: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
nav a:hover {
  color: rgb(66, 65, 70);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Catálogo */
#banner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.catalogo-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url("tu-imagen-de-fondo.jpg");
  background-size: cover;
  background-position: center;
}

.retos {
  width: 20%;
  margin: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s ease-in-out;
  font-size: 18px;
  text-align: justify;
  padding: 20px;
}

.retos:hover {
  transform: scale(1.05);
}

.retos img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.retos h3 {
  margin-top: 10px;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  color: #ff6600;
  text-shadow: 2px 2px 2px rgba(202, 26, 26, 0.5);
}

.retos p {
  margin-top: 5px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

button,
.retos a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  width: 120px;
  border: 2px solid #ff6600;
  font-size: 20px; /* Establecer el tamaño de fuente en píxeles o ems */
}

button:hover,
.retos a:hover {
  background-color: #fff;
  color: #ff6600;
  border: 2px solid #ff6600;
}
button,
.retos a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 10px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  width: 120px;
  border: 2px solid #ff6600;
  font-size: 20px;
}

button:hover,
.retos a:hover {
  background-color: #fff;
  color: #ff6600;
  border: 2px solid #ff6600;
}
button,
.retos a {
  display: inline-block;
  margin-top: 10px;
  padding: 5px 10px;
  background-color: #ff6600;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  width: 120px;
  border: 2px solid #ff6600;
  font-size: 20px;
  margin-right: 10px; /* Agregando margen a la derecha de los botones */
}

button:hover,
.retos a:hover {
  background-color: #fff;
  color: #ff6600;
  border: 2px solid #ff6600;
}

/* Footer */
/* Estilo para el pie de página */
footer {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.redes-sociales a {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-size: cover;
}

.icono-sena {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTJ34-CA11sS6fBk7XUo_Zu_O18e1AdSJ8XPA&usqp=CAU");
}
